<!--HEADER-->
<header>
        <link rel="stylesheet" href="static/index.css">
  <div class="container">
    
    <div class="row">
      <div class="twelve columns">
        <nav>
          <ul>
          </ul>
        </nav>  
      </div> 
    </div>

    <div class="row">    
      <div class="twelve columns">
        <h1>- SKY WRITING -</h1>
        <h4>Ever imagine writing with a cap instead of a pen? Write into air and have it appear on all your devices! Not only on your devices, but also using Augmented Reality!</h4>
      </div>
    </div>
    
    <section class="services">
      <div class="row">
        <div class="twelve columns">
        </div>
      </div>
      <div class="row">
        <div class="one-half column">
          <a href="/text">
            <h4>Write</h4>
            <span class="fa fa-picture-o"></span>
            <p>Write in air and store it for later reference</p>
          </a>
        </div>
        <div class="one-half column">
          <a href="/AR">
            <h4>Augmented Reality</h4>
            <span class="fa fa-leaf"></span>
            <p>What you write in air is displayed to you using Augmented Reality</p>
          </a>
        </div>
      </div><!--end of .row-->
    </section>
  </div><!--end of .container-->
</header>

<!--ABOUT-->

        <div class="aboutSec">
          <div class="row">
            <div class="twelve columns">
              <center><h3>About Us</h3></center>
            </div>
          </div><!--end of .row-->
          <div class="row bottom">
            <div class="two-thirds column">
              <h4>We are a group of 5 students, who came up with the idea of 'Sky Writing' because all of us were too lazy to get up and go get a pencil and paper</h4>
              <h4>In 24 hours, we came up with a way to recognize the path traced by an object in air and display it using Augmented Reality </h4>
            </div>
          </div><!--end of .row-->
        </div><!--end of .container-->
      
