<!DOCTYPE html>
<html>
<!-- include aframe -->
<script src="vendor/aframe.js"></script>
<!-- include aframe-artoolkit -->
<script src="../build/aframe-ar.js"></script>
<head>
  <style>
    .center{
      margin: auto;
      width: 50%;
      padding: 10px;
    }
  </style>
</head>

<body style='margin : 0px; overflow: hidden; font-family: Monospace;'>
  <div class="Frame">
      <a href="/" class="HomeLink">Home</a>
      <a href="/text" class="TextLink">Text</a>
      <a href="/AR" class="ArLink">AR</a>
  </div>
  <div class = "center">
    <iframe src="AR.html" width="500" height="500" align = "center"></iframe>
  </div>
</body>
</html>
